autom4te.cache/
config.cache
config.h
config.h.in
config.h.in~
config.log
config.status
configure
confdefs.h
conftest
conftest.c
conftest.o
Makefile
compress
uncompress
zcat
gzip
gunzip
xz
unxz
xzcat
*.o
*.Z
tests/
